{#
/**
 * @file
 * For User Login.
 */
#}
<div class="green-box user">
	<h2 class="login__title">{{ 'User Login'| t }}</h2>
	<div class="login__form">
		{{ items }}
		<div id="user-error" class="error-msg max-width"></div>
	</div>
</div>
